:root {
  --main-color: #ff0000;
  --accent-color: white;
  --main-text-color: #000000;
}

* {
  box-sizing: border-box;
}

 body * {
  border: 1px dotted blue;
}

body {
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

header {
  height: 97vh;
  background: rgba(0, 0, 0, 0.3) url("../images/Image.jpg");
  background-blend-mode: darken;
  background-size: cover;
}

.nav-bar {
  text-transform: uppercase;
  height: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar * {
  z-index: 100;
}

.nav-bar::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93px;
  z-index: 0;
  display: inline-block;
}

.container {
  width: 1088px;
  margin: 0 auto;
}

.logo {
  font-size: 35px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.logo span {
  color: var(--main-color);
  margin-right: 5px;
}

.logo img {
  height: 35px;
  margin-right: 5px;
}

.nav-list {
  display: flex;
}

.nav-list li {
  width: 128px;
}

.nav-list a {
  text-decoration: none;
  color: var(--accent-color);
  display: inline-block;
  width: 100%;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(97vh - 93px);
}

.title {
  font-size: 90px;
  font-weight: 900;
  margin-bottom: 10px;
}

.info {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: center;
}

.buttons {
  font-size: 16px;
}

.button {
  padding: 22px 55px;
  border-radius: 40px;
  text-decoration: none;
}

.button-alert {
  background-color: var(--main-color);
  color: var(--accent-color);
}

.button-info {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.space-right {
  margin-right: 25px;
}

.arrow {
  width: 55px;
  height: 55px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 7px;
  transform: translate(-50%, 0);
}

.blog {
  background-color: var(--accent-color);
  padding-top: 95px;
  color: var(--main-text-color);
}

.center {
  display: flex;
  justify-content: center;
}

.blog-title {
  font-size: 35px;
  font-weight: bold;
}

.lines::before,
.lines::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  top: 15px;
}

.lines::before {
  margin-right: 10px;
}

.lines::after {
  margin-left: 10px;
}

.blog-photo-img {
  width: 352px;
  height: 234px;
}

.blog-artice-title {
  text-transform: uppercase;
  margin: 26px auto;
  font-weight: 231px;
  height: 26px;
  font-size: 19px;
  color: #6a6a6a;
  font-family: "Nunito Sans", sans-serif;
}

.blog-article-text {
  color: #6a6a6a;
  margin-bottom: 26px;
  width: 260px;
  height: 79px;
  font: normal normal 300 14px/19px "Open Sans";
}

.blog-btn {
  padding: 5px 29px;
  width: 142px;
  height: 40px;
  border-radius: 40px;
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--accent-color);
  display: inline-block;
  font-size: 14px;
  font-family: "Nunito Sans";
  display: flex;
  align-items: center;
}

.blog-content .container {
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
}

.service {
  background-color: black;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
}

.service-title {
  font-size: 35px;
  font-weight: bold;
}

.lines::before,
.lines::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  top: 15px;
}

.lines::before {
  margin-right: 10px;
}

.lines::after {
  margin-left: 10px;
}

.service-article a {
    display: flex;
    justify-content: center;
} 

.service-photo-img {
  width: 170px;
  height: 170px;
}

.service-artice-title {
  text-transform: uppercase;
  margin: 26px auto;
  font-weight: 231px;
  height: 26px;
  font-size: 19px;
}

.service-article-text {
  color: #6a6a6a;
  margin-bottom: 26px;
  width: 260px;
  height: 79px;
  font: normal normal 300 14px/19px "Open Sans";
  text-align: center;
}

.service-btn {
  padding: 5px 29px;
  width: 142px;
  height: 40px;
  border-radius: 40px;
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--accent-color);
  display: inline-block;
  font-size: 14px;
  font-family: "Nunito Sans";
  display: flex;
  align-items: center;
}

.service .container {
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
}
